* {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background: white url('img/body.png');
}

.navbar-spacing {
    height: 70px;
    display: none;
}

#content {
    width: 80%;
    margin: auto;
    display: none; /* js removes that upon load */
}

#intro {
    width: 100%;
    padding: 25px;
    border: 1px solid #ccc;
    background: url('img/header.jpg');
    border-radius: 15px;
    color: white;
    text-align: center;
    background-size: cover;
    text-shadow: 1px 2px 1px #000;
}

#intro h1, h2 {
    margin: 0 0 25px 0;
}

h3 {
    margin: 10px 0 20px 0;
}

.event-desc {
    font-size: 14px;
    display: block;
    margin: 0 0 15px 0;
}

.event-desc a {
    color: #aaf;
    text-decoration: underline;
    text-shadow: none;
}

.event-desc a:hover {
    color: #66f;
}

.countdowns {
    font-size: 12px;
}

.f-container {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 15px;
    color: black;
}

.f-category {
    background: url('img/category.png');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 32px;
    line-height: 32px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.f-curuser td {
    background: #ffa !important;
    font-weight: bold !important;
}

.f-inside-padded {
    padding: 15px;
    text-align: center;
}

.f-inside-table {
    margin: 0;
}

.leaderboard td {
    padding: 0 15px 0 15px;
    display: table-cell;
    vertical-align: middle !important;
    text-align: center;
    overflow: hidden;
}

#world_map {
    position: relative;
    width: 720px;
    height: 430px;
    display: inline-block;
    background: url('img/map.png');
}

.f-inside-map {
    text-align: center;
}

.f-map-sizing {
    min-width: 750px;
}

.f-large-input {
    font-size: 22px;
    text-align: center;
    height: 50px;
}

.btn {
    margin-bottom: 5px;
}

#loader {
    z-index: 1999999 !important;
    position: fixed;
    left: 43%;
    top: 43%;
    width: 14%;
    height: 14%;
    padding: 0;
    margin: 0;
}

#loader img {
    width: 100%;
    height: 100%;
    border: none;
}

.f-form-field {
    margin-bottom: 10px;
}

.register-notes {
    padding: 8px;
    background: #ffc;
    font-size: 12px;
    text-align: center;
    margin-bottom: 15px;
}

.register-notes p {
    margin-bottom: 8px;
}

.f-starter-choice {
    display: inline-block;
    padding: 6px;
    margin: 0 8px 0 8px;
    background: #eee;
    cursor: pointer;
}

.f-starter-choice-selected {
    background: #bfb;
}

.f-modal-window {
    overflow: visible;
    text-align: center;
    position: relative;
}

.f-modal-window, .jquery-modal {
    z-index: 2999999 !important;
}

.f-inline-loader {
    height: 18px;
    position: relative;
    top: -2px;
}

.g-recaptcha {
    margin: 0 auto 15px auto !important;
}

.f-single-line {
    border-radius: 15px;
    background: #f0f0f0;
    text-align: center;
    padding: 8px;
}

.f-inside-faq {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.f-faq-explanation {
    padding: 23px;
}

.f-faq-explanation h1 {
    font-size: 24px;
    border-bottom: 1px solid #aaa;
    padding: 0 0 3px 0;
    margin: 3px 0 0 0;
}

.f-faq-explanation p {
    font-size: 14px;
    margin: 12px 0 0 0;
}

.f-world-map-location {
    position: absolute;
    width: 24px;
    height: 24px;
}

.f-location-active {
    background: url('img/location_active.png');
    cursor: pointer;
}

.f-location-active:hover {   
    outline: 2px solid red;
}

.f-location-inactive {
    background: url('img/location_inactive.png');
    cursor: not-allowed;
}

.hide-by-default {
    display: none;
}

.f-visit-duration-counter {
    padding: 6px;
    background: #ffb;
    margin: 10px auto 30px auto;
    width: 250px;
    font-size: 12px;
}

.f-save-file-input {
    margin: 8px auto 8px auto;
    background: #eee;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    width: 200px;
    cursor: pointer;
}

.f-save-file-input:hover, input[type=file]:focus + .f-save-file-input {
    background: #ddd;
}

input[type=file]:disabled + .f-save-file-input {
    color: #777;
    background: #bbb;
    cursor: not-allowed;
}

input[type=file] {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.f-save-file-upload-desc {
    font-size: 11px;
    color: #333;
    font-style: italic;
}

.f-file-download-frame {
    position: absolute;
    left: -10000px;
    top: -10000px;
    width: 10px;
    height: 10px;
    opacity: 0.1;
}

.f-achievement-list td {
    padding: 10px !important;
    display: table-cell;
    vertical-align: middle !important;
    text-align: center;
    line-height: 24px !important;
    width: 50%;
}

.f-achievement-list small {
    font-size: 12px;
}

.f-achievement-complete {
    color: #030;
    background: #cfc;
}

.f-achievement-incomplete {
    color: #333;
    background: #eee;
}

.f-gb-button {
    width: 64px;
    height: 64px;
    border-radius: 16px;
    background: #eee;
    border: 1px solid #777;
    text-align: center;
    outline: none;
    font-size: 24px;
}

.f-gb-button-small {
    width: 48px;
    height: 48px;
    font-size: 20px;
}

.f-gb-button:active {
    background: #ccc;
}

.f-ccby {
    text-align: center;
    text-shadow: none;
}

.f-ccby, .f-ccby * {
    color: #777;
    font-size: 8px;
}

.f-ccby a {
    text-decoration: underline;
}